<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Eli's College Search Senior Project</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron text-center bg-light">
            <h1 class="display-4">Eli's College Cost Planner</h1>
            <p>Thousands of U.S. Colleges and their costs.</p>
            <a class="btn btn-primary btn-lg" href="college_search.html" role="button">Get Started</a>
        </div>
        <div class="content">
            <img src="images\homepgcollege.jpg" alt="College Campus" class="college-image">
            <h2>Comments on the site</h2>
            <div class="comments">
                <div class="comment">
                    <img src="images\Eli.JPG" alt="Eli's Avatar">
                    <p><strong>Eli Brunner</strong></p>
                    <p>Great site! I would say it's some of my best work!</p>
                </div>
                <div class="comment">
                    <img src="images\garret.jpg" alt="Garrett's Avatar">
                    <p><strong>Garrett Wells</strong></p>
                    <p>Yea, I guess it's kind of cool.</p>
                </div>
                <div class="comment">
                    <img src="images\john.jpg" alt="John's Avatar">
                    <p><strong>JOHN John</strong></p>
                    <p>My name is John and I approve this site.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
