<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Eli's College Search Senior Project</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron text-center bg-light">
            <h1 class="display-4">Eli's College Cost planner</h1>
            <p>Thousands of U.S. Colleges and there costs.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
        </div>
        <img src="{{ url_for('static', filename='image.jpg') }}" alt="" class="img-fluid">
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
