<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eli's College Search Senior Project</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Eli's College finder!</h1>
      <p>Thousands of U.S. Colleges and their costs.</p>
      <a class="btn btn-primary btn-lg" href="/college_search.html" role="button">Get Started</a>
    </div>
    <div class="content">
      <img src="static/homepgcollege.jpg" alt="College Campus" class="college-image">
      <h2>Comments on the site</h2>
      <div class="comments">
        <div class="comment">
          <img src="static/Eli.JPG" alt="Eli's Avatar">
          <p><strong>Eli Brunner</strong></p>
          <p>Great site! I would say it's some of my best work!</p>
          <img src="static/john.JPG" alt="Eli's Avatar">
          <p><strong>john john</strong></p>
          <p>Great site! I would say it's some of my best work!</p>
          <img src="static/garret.JPG" alt="Eli's Avatar">
          <p><strong>garett</strong></p>
          <p>Great site! I would say it's some of my best work!</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>
